body{
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    border: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: rgb(51, 192, 192);
    
}
